.booklist-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}


.booklist-list {
  display: flex;
  list-style: none;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 8.1px;
  box-shadow: 0 0 0.5px 0 #000000;
  border: solid 0.5px #90a4ae;
  margin-top: 0;

  height: 377px;
  overflow: hidden;
  overflow-y: scroll;


  &__item {
    display: flex;
    position: relative;

    &:first-child {
      margin-top: 10px;
    }
  }

  &__item-input {
    width: 208px;
    min-height: 35.5px;
    font-family: $Corsa;
    font-size: 10.9px;
    font-weight: normal;
    line-height: 9.5px;
    text-align: center;
    color: $black;

    border-radius: 8.1px;
    box-shadow: 0 0 2.2px 0 rgba(0, 0, 0, 0.25);

    border: none;

    position: relative;
    margin-top: 10px;
    z-index: 2;


    &::placeholder {
      font-family: $Corsa;
      font-size: 10.9px;
      font-weight: normal;
      line-height: 9.5px;
      text-align: center;

    }

  }

  &__item-button {
    @include reset-default-button-style;

    position: absolute;
    top: 4px;
    right: 5px;

    z-index: 3;

    svg circle {
      fill: $black;
    }

    &:hover {
      svg circle {
        fill: #FFD200;
      }
    }
  }

}