.booklist {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 8.1px;
  box-shadow: 0 0 0.5px 0 #000000;
  border: solid 0.5px #90a4ae;
  height: 377px;
  overflow: hidden;
  overflow-y: scroll;


  &__wrapper {
    display: flex;
    flex-direction: column;

  }

  &__item {
    width: 208px;
    height: 35.5px;
    text-align: center;
    border-radius: 8.1px;
    box-shadow: 0 0 2.2px 0 rgba(0, 0, 0, 0.25);
    padding-top: 13px;
    padding-bottom: 13px;
    font-family: $Corsa;
    font-size: 10.9px;
    font-weight: normal;
    line-height: 9.5px;

    position: relative;
    margin-top: 10px;
    z-index: 2;

    &:first-child {
      margin-top: 18px;
    }

    &::after {
      content: url("../../img/dots.svg");
      width: 25.27px;
      height: 5.51px;
      position: absolute;
      z-index: 3;
    }
  }
}