@import "normalize";
@import "includes/fonts";
@import "includes/variables";
@import "includes/mixins";


@import "blocks/header";
@import "blocks/page-main";
@import "blocks/booklist";

.page-container {
  display: flex;
  flex-direction: column;
  margin-left: 27px;
  margin-right: 25px;
}